NEXT_PUBLIC_DEV_API_URL=http://localhost:8989
NEXT_PUBLIC_DOCKER_BACKEND_URL=http://scholar-api-gateway:8989
NEXT_PUBLIC_API_BASE_URL=http://70.153.18.56:8989


NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GITHUB_CLIENT_ID=

# PDF Storage
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=
B2_BUCKET_ID=

# Configuration
NEXT_PUBLIC_ENV=local

GROBID_URL=http://localhost:8070

